.form {
    margin-top: 30px;
    width: 30%;
    text-align:center;
}

.form input {
    margin-top: 7px;
    margin-bottom 7px;
}

.form button {
    margin-top: 7px;
    margin-bottom: 55px;
}

.input-group {
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
}